
.city-item-view {
  display: grid;
  grid-template-rows: 15% 70% 15%;
  grid-template-columns: 5% 90% 5%;
  height: 100%;
  width: 100%;
}

.footer__day {
  text-align: left;
  padding-top: 10px;
}

.footer {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row: 3;
}

.weather-list {
  overflow-y: auto;
  display: flex;
  border-top: 2px solid white;
}

.city-item {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
}
