
.weather-displayer {
  display: grid;
  grid-template-rows: 15% 70% 15%;
  grid-template-columns: 5% 90% 5%;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.footer__day {
  text-align: left;
  padding-top: 10px;
}

.footer {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row: 3;
}

.weather-list {
  overflow-y: auto;
  display: flex;
  border-top: 2px solid white;
}

.city-item {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
}

.weather-displayer--sun {
  background-image: url('../img/sunny.jpg');
}
.weather-displayer--rain {
  background-image: url('../img/rain.jpg');
}
.weather-displayer--snow {
  background-image: url('../img/snow.jpg');
}
.weather-displayer--clouds {
  background-image: url('../img/clouds.jpg');
}
.weather-displayer--night {
  background-image: url('../img/night.jpg');
}