.add-city {
  padding: 10px;
  border-top: 1px solid white;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
}

.add-city-input {
  display: flex;
  flex-direction: row;
}

.add-city-input-container {
  background-color: white;
  border-radius: 50px;
  padding: 10px;
}

.add-city-input-field__input {
  border: none;
  outline: none;
  width: 80%;
  font-size: 16px;
}

.add-city__header {
  white-space: nowrap;
  margin-right: 10px;
  padding-top: 10px;
}