.weather-list-item-button {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.city-item-view {
  display: grid;
  grid-template-rows: 15% 70% 15%;
  grid-template-columns: 5% 90% 5%;
  height: 100%;
  width: 100%;
}

.detailed-data__label {
  font-size: 16px;
}

.selected-weather-view {
  height: 100%;
  display: grid;
  grid-template-rows: [temperatur]90% [details]auto;
}

.detailed-data {
  display: grid;
  grid-template-columns: [wind]33% [humidity]33% [pressure]33%;
}



.footer {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row: 3;
}

.weather-item {
  padding-right: 20px;
  display: flex;
}

.weather-list-date {
  padding-left: 20px;
}

.weather-list {
  overflow-y: auto;
  display: flex;
  border-top: 2px solid white;
  padding-top: 10px;
  margin-top: 20px;
}

.city-item {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
}

.current-weather {
  font-size: 100px;
}
