.weather-list-item-button {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.city-item-view {
  display: grid;
  grid-template-rows: 10% 75% 10%;
  grid-template-columns: 5% 90% 5%;
  height: 100%;
  width: 100%;
}

.footer {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row: 3;
}

.weather-item {
  padding-right: 20px;
  display: flex;
}

.weather-list-date {
  padding-left: 20px;
}

.weather-list {
  overflow-y: auto;
  display: flex;
  border-top: 2px solid white;
  padding-top: 10px;
  margin-top: 20px;
}

.city-item {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
}

.current-weather {
  font-size: 100px;
}
