.city-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid white;
  padding: 10px;
}

.city-item--flex {
  display: flex;
}

.city-item__remove-button {
  color: red;
}

.city-item__text {
  padding-top: 4px;
}