.App {
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.App-header {
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid white;
  display: flex;
}

.App-menu {
  margin: auto 0;
}

.App-title {
  font-size: 1.5em;
  margin: auto;
}

.App-body {
  flex: 2;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.route-container {
  height: 100%;
  width: 100%;
}
.App-cities {
  flex: 2;
}

@media(min-width: 768px) {
  .App-cities {
    width: 50%;
    margin: auto;
  }
}


.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 8px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
	height: 8px;
	background-color: #5bd3ff;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

